//=============================================================================
// Desktop styles - Vertical Nav
//=============================================================================

//=============================================================================

.gallery-container {
  position: relative;
  left: 150px;
  z-index: -1;
  margin: auto;
  width: 100%;
  line-height: 0;
  -webkit-column-count: 7;
  -webkit-column-gap: 5px;
  -moz-column-count: 7;
  -moz-column-gap: 5px;
  column-count: 7;
  column-gap: 5px;
  margin-bottom: 50px;
}

.gallery-container img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

//=============================================================================
// Mobile styles - Horizontal Nav
//=============================================================================

//=============================================================================

@media screen and (max-width: 992px) {
  .gallery-container {
    left: 0;
    top: 75px;
    margin: auto;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media screen and (max-width: 600px) {
  .gallery-container {
    left: 0;
    top: 75px;
    margin: auto;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
