.footer-container {
  position: relative;
}

.footer {
  width: 100%;
  position: absolute;
  background-color: #1f1f1f;
  color: white;
}

.footer-links {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  min-width: 400px;
  text-align: center;
  font-weight: bold;
}

.footer-links p {
  display: inline-block;
  margin: 0 2% 0 2%;
}

.footer-location {
  font-size: 12px;
  text-align: center;
  line-height: 3px;
}
